/* index.css */
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.truncate:hover {
  -webkit-line-clamp: unset;
  z-index: 2;
  background: var(--card-bg);
  padding: 0.5rem;
  border-radius: 4px;
}